.App {
  text-align: center;
}

.card{
  border-radius: 20px;
}

.card-info h2{
  display: none;
}

.card-body{
  cursor: pointer;
}

.card-info p{
  text-align: justify;
  word-spacing: 0.5px;
  hyphens: auto;
}

.card-img-top {
  height: 200px; 
  object-fit: cover; 
  object-position: center; 
  border-radius: 8px;
  cursor: pointer;
}

.avatar{
  width: 50px;
  height: 50px;
  border: 3px solid #ccc;
}

@media (max-width: 991.98px) {
  .navbar-collapse {
    justify-content: center;
  }
  
  .navbar-nav {
    text-align: center;
    margin-top: 10px; 
    text-align: start;
  }
}
